<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Evaluate a News Article with Natural Language Processing</title>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@600&family=Lobster&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <h1>Evaluate a News Article with Natural Language Processing</h1>
        </header>

        <main class = "main">
            
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <div id="invalid"></div>
                    <input id="url" type="text" name="input" value="" required>
                    <input type="submit" id="submit" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section id="form_result">
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <div id="copy">
			    <div id="line"><i> made with love </i></span></div>
		    </div>	        </footer>
        <script type="text/javascript" src = "main.js"></script>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
