footer {
    background: #2b295fd5;
    color: #e7e7e7;
    height: 70px;
    margin-top: 8.7%; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
#copy{
    text-align: center;
    margin-top: 15px;
 }
 
 #line{
     margin-bottom:1%;
 }
