header{
    color: #2b295fd5;
    margin-top: 4%;
    margin-left: 10%;
    margin-bottom: 3%;
    font-family: 'Baloo Tamma 2', cursive;
    font-family: 'Lobster', cursive;
    font-size: 2.45rem;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}